# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

Flask
keras-preprocessing==1.1.2
newspaper3k==0.2.8
nltk==3.6.7
pandas==1.4.1
pytorch==1.10.2==py3.9_0
pytorch-mutex==1.0=cpu
pytz==2021.3
