{% extends "base.html" %}

<!DOCTYPE html>
<h2> There seems to be an error. Here are some things you can do:</h2>
<li>
    <ul>Check if the url you provided for the article. If so, then please a free, public url.</ul>
    <ul>There might be too many people on the server. Try again later or reduce your request size.</ul>
    <ul>If you think none of those things seem to be the case, please email us at <a href="mailto:simplyveritas0@gmail.com">"simplyveritas0@gmail.com</a></ul>

</li>
<html>


</html>