{% extends "base.html" %}
<!doctype html>
{% block title%} {% endblock %}

{% block content %}
<body>
    <h1 style="padding-top: 1%; width: 85%;"> Simply <u>the truth.</u> Simply <strong><i>veritas.</i></strong></h1>

    <div>

        <div class="card text-white bg-dark mb-3" style="max-width: 50%; margin-top: 1%;">
            <div class="card-header">Our Mission</div>
            <div class="card-body">
              <h5 class="card-title">The Purpose of Simply Veritas</h5>
              <p class="card-text">
                We all fall into patterns of habitual web surfing and our own cognitive biases to get information and form opinions. Social media companies not only exploit that, but also influence you to then become the carrier of these ideas. Instead of sharing commonality with borders or humanity, the role of misinformation and algorithmic design to media recommender systems have now polarized and forced us to support and resonate ideologies for the benefit of stakeholders that influence the truth. <strong>Simply Veritas</strong> <i> aims to change this by making peer-reviewed and automated bias with veracity metrics to help you better understand the common themes in your sources. This ports into a platform that engages discussions on topics with quantitative results with the rest of the community to build collective knowledge. 
              </p>
              <figcaption ="color: #c77d48"><strong style="text-decoration: underline"">Dev Patel, </strong> <cite style="color: white;">Creator of Simply Veritas</cite></figcaption>
            </div>
          </div>

          <p style="color:burlywood "> See<a style="color: #c77d48" href="https://simple-veritas.herokuapp.com/output/link_url/httpstheprint.inslashworldslashcyber-attacks-memes-zelenskys-macho-imagery-how-ukraine-russia-are-engaged-in-a-parallel-online-warslash852315slash"> Ukraine | Russia</a> or <a style="color: #c77d48" href="https://simple-veritas.herokuapp.com/output/link_url/httpswwwaljazeeracomkeyslashnewsslash2022slash1slash28slashwhy-are-anti-vaccine-canadian-truckers-converging-on-ottawa">Canada Trucker Protests</a></p>


<!-- <p> <a href="{{ url_for('link') }}"> Input Article Link</a> </p> -->
<div style="display: inline-block;">
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <a class="card-header" href="{{ url_for('link') }}" style="color: white; text-decoration: underline;"> Paste an Article Link</a>
    <div class="card-body">
      <h5 class="card-title">URL from News Outlet</h5>
      <p class="card-text">This will provide not only meta data on the author and time, but also a summary of the article.</p>
    </div>
</div>
</div>

<div style="margin-left: 10px; display: inline-block;">
<div class="card text-white bg-warning mb-3 ml-1" style="max-width: 20rem;">
    <a class="card-header" href="{{ url_for('pure_text') }}" style="color: white; text-decoration: underline;">Reference on Pure Text</a>
    <div class="card-body">
        <h5 class="card-title">Exerpt or any Paragraph</h5>
        <p class="card-text">Provide any small part of an article or social media post, and make sure its under 600 words.</p>
    </div>
</div>
</div>

<!-- <p> <a href="{{ url_for('pure_text') }}"> Input Raw Text</a> </p> -->
</body>
{% endblock %}